<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui-v2.5.7/css/layui.css}">
</head>
<body>

<h2>Index</h2>

<script th:src="@{/layui-v2.5.7/layui.js}"></script>
<script th:inline="javascript" type="text/javascript">
    // 项目绝对位置
    var ctxPath = /*[[@{/}]]*/ +'';

</script>

</body>
</html>