<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui-v2.5.7/css/layui.css}">
</head>
<body>

<h2>Upload</h2>

<button type="button" class="layui-btn" id="upload-excel">
    <i class="layui-icon">&#xe67c;</i>上传Excel
</button>

<script th:src="@{/layui-v2.5.7/layui.js}"></script>
<script th:inline="javascript" type="text/javascript">
    // 项目绝对位置
    var ctxPath = /*[[@{/}]]*/ +'';
    layui.use('upload', function () {
        var upload = layui.upload;

        // 执行实例
        var uploadInst = upload.render({ // https://www.layui.com/doc/modules/upload.html
            elem: '#upload-excel', //绑定元素
            url: ctxPath + 'excel/upload/file', //上传接口
            accept: 'file', // 上传文件类型
            acceptMime: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
            done: function (res) {
                // 上传完毕回调
                console.log('done', res)

                var code = res.code;
                var msg = res.msg;

                if (code === '00000') {
                    layer.msg(msg, {time: 1500, icon: 1}, function () {

                    });// 0：黄色感叹号，1：绿色对号，2：红色 X，3：黄色问号，4：灰色锁，5：红色哭脸，6：绿色笑脸，7：黄色感叹号，参见：layui/css/modules/layer/default/icon.png
                } else {
                    layer.msg(msg, {time: 1500, icon: 0}, function () {

                    }); // 0：黄色感叹号，1：绿色对号，2：红色 X，3：黄色问号，4：灰色锁，5：红色哭脸，6：绿色笑脸，7：黄色感叹号，参见：layui/css/modules/layer/default/icon.png
                }
            },
            error: function (res) {
                // 请求异常回调
                console.error('error', res)
                layer.msg(res, {time: 1500, icon: 2}, function () {

                }); // 0：黄色感叹号，1：绿色对号，2：红色 X，3：黄色问号，4：灰色锁，5：红色哭脸，6：绿色笑脸，7：黄色感叹号，参见：layui/css/modules/layer/default/icon.png
            }
        });

    });
</script>

</body>
</html>